HELP.md
.DS_Store
*/.Ds_Store
**/.Ds_Store/**
**/.DS_Store/**
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/pku.jvd.deseri.test/**
*.dat
gadget-result/
Search-Result-DESERI/
Search-Result-NPV/
Search-Result-SQL/
Search-Result-XSS/
history/
jvd-taint-analysis/targetsBi
jvd-taint-analysis/Test-result-sql
jvd-taint-analysis/Test-result-xss
jvd-taint-analysis/lib
jvd-taint-analysis/Test-result-sql-failure
jvd-taint-analysis/Test-result-xss-failure
jvd-deseri/cache
deseri/cache
Search-Result
lib.txt
run_env/
sootOutput/
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/*.iml/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/deseri-search-result/
/Search-Result-tabby/
/cache/
